{% extends '::base.html.twig' %}

{% block body %}
<div class="panel panel-default">
<div class="panel-heading"><h1>My Tasks</h1></div>
</div>
    <h4><strong><a href="{{ path('task_new') }}"> <span class="glyphicon glyphicon-plus"></span>  Create a new task</a></strong></h4>
    <h4><strong><a href="{{ path('category_index') }}"> <span class="glyphicon glyphicon-plus"></span>  Show all categories</a></strong></h4>
    <table class = "table">
        <h3 style = "text-indent: 1%"><span class="glyphicon glyphicon-remove"></span> Not yet completed tasks </h3>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Due</th>
                <th>Completed</th>
                <th>Priority</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in notcompleted %}
            <tr>
                <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{% if task.due %}{{ task.due|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if task.completed %}<p class="bg-success">Yes</p>{% else %}<p class="bg-danger">No</p>{% endif %}</td>
                <td>{{ task.priority }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('task_show', { 'id': task.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('task_edit', { 'id': task.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('task_delete', { 'id': task.id }) }}">delete</a>
                        </li>
                        <li>
                            <a href="{{ path('comment_new', { 'id': task.id }) }}">add comment</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class = "table">
        <h3 style = "text-indent: 1%"><span class="glyphicon glyphicon-ok"></span> Completed tasks </h3>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Due</th>
            <th>Completed</th>
            <th>Priority</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for task in completed %}
            <tr>
                <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{% if task.due %}{{ task.due|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if task.completed %}<p class="bg-success">Yes</p>{% else %}<p class="bg-danger">No</p>{% endif %}</td>
                <td>{{ task.priority }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('task_show', { 'id': task.id }) }}">show</a>
                        </li>
                        {% if task.completed %}{% else %}
                        <li>
                            <a href="{{ path('task_edit', { 'id': task.id }) }}">edit</a>
                        </li>
                            <li>
                                <a href="{{ path('task_delete', { 'id': task.id }) }}">delete</a>
                            </li>
                        <{% endif %}
                        <li>
                            <a href="{{ path('comment_new', { 'id': task.id }) }}">add comment</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
